@model DeviceViewModel
<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			<svg class="size-1-point-4-rem m-0 p-0" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#key" />
			</svg>
			@Localizer.GetString("Heading")
		</h1>
	</div>
	<div class="card-body">
		<p>@Localizer.GetString("Information")</p>
		@if(Model.UserCodeIsInvalid)
		{
			<div class="alert alert-danger pb-1">
				<h2 class="h5">@Localizer.GetString("Invalid-UserCode-Heading")</h2>
				<ul>
					<li>@Localizer.GetString("Invalid-UserCode-Message", Model.UserCode)</li>
				</ul>
			</div>
		}
		<form method="get">
			@foreach(var (key, value) in Context.Request.Query.ToSortedDictionary().Without(QueryStringKeys.UserCode))
			{
				<input name="@key" type="hidden" value="@value" />
			}
			<div class="mb-3">
				<label asp-for="UserCode">@Localizer.GetString("Heading")</label>
				<input asp-for="UserCode" autofocus="autofocus" class="form-control" />
			</div>
			<div class="text-end">
				<button class="btn btn-primary" type="submit">
					@Localizer.GetString("Submit")
				</button>
			</div>
		</form>
	</div>
</div>