@inject LayoutViewModel LayoutModel
<!DOCTYPE html>
<html lang="@LayoutModel.UiCulture">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex,nofollow" />
		@if(IsSectionDefined("AdditionalMeta"))
		{
			@RenderSection("AdditionalMeta")
		}
		@if(IsSectionDefined("Title"))
		{
			@RenderSection("Title")
		}
		else
		{
			<title>@Localizer.GetString("Title")</title>
		}
		@if(IsSectionDefined("Style"))
		{
			@RenderSection("Style")
		}
		else
		{
			<link asp-append-version="true" href="~/Style/site.css" rel="stylesheet" />
		}
		@if(IsSectionDefined("AdditionalStyle"))
		{
			@RenderSection("AdditionalStyle")
		}
	</head>
	<body class="@(LayoutModel.Facade.FeatureManager.IsEnabled(Feature.HostInformation) ? "host-information" : null)">
		<partial model="@LayoutModel.Header" name="~/Views/Shared/Parts/Header.cshtml" />
		<main class="container-md mb-4" role="main">
			<feature name="@nameof(Feature.Debug)">
				<partial name="~/Views/Shared/Parts/DebugInformation.cshtml" />
			</feature>
			@RenderBody()
		</main>
		@if(IsSectionDefined("Scripts"))
		{
			@RenderSection("Scripts")
		}
		else
		{
			<script asp-append-version="true" src="~/Scripts/site.js"></script>
		}
		@if(IsSectionDefined("AdditionalScripts"))
		{
			@RenderSection("AdditionalScripts")
		}
	</body>
</html>