@model ClaimsSelectionConfirmationViewModel

@section AdditionalMeta
{
	@if(Model.AutomaticRedirect && Model.RedirectUrl != null)
	{
		<meta content="@Model.SecondsBeforeRedirect;url=@Model.RedirectUrl" data-automatic-redirect="@Model.SecondsBeforeRedirect;@Model.RedirectUrl" http-equiv="refresh" />
	}
}

<div class="card">
	<div class="card-header">
		<h1 class="h4 m-0 p-0">
			<svg class="size-1-point-4-rem m-0 p-0" role="presentation">
				<use xlink:href="/Style/Icons/sprite.svg#check" />
			</svg>
			@Localizer.GetString($"{Model.AuthenticationScheme}.Heading")
		</h1>
	</div>
	<div class="card-body">
		<p class="alert alert-success">@Localizer.GetString($"{Model.AuthenticationScheme}.Confirmation")</p>
		@if(Model.RedirectUrl != null)
		{
			var text = Model.Client != null ? Localizer.GetString($"{Model.AuthenticationScheme}.redirect-text-with-client", Model.Client) : Localizer.GetString($"{Model.AuthenticationScheme}.redirect-text");
			<div class="text-end">
				<a autofocus="autofocus" class="btn btn-primary" href="@Model.RedirectUrl">@text</a>
			</div>
		}
		@if(Model.IframeUrl != null)
		{
			<h2>IframeUrl</h2>
			<p>@Model.IframeUrl</p>

			<iframe class="d-none" src="@Model.IframeUrl"></iframe>
		}
		@if(Model.SamlIframeUrl != null)
		{
			<h2>SamlIframeUrl</h2>
			<p>@Model.SamlIframeUrl</p>

			<iframe class="d-none" src="@Model.SamlIframeUrl"></iframe>
		}
	</div>
</div>