@model SignInForm
@{
	var hint = Localizer.GetString("Hint");
	var allowPersistent = ViewData[ViewDataKeys.AllowPersistent] as bool? ?? false;
}
<form asp-action="SignIn" asp-controller="Account" asp-all-route-data="@Context.Request.Query.ToSortedDictionary()">
	<div class="mb-3">
		<label asp-for="UserName"></label>
		<input asp-for="UserName" autofocus="autofocus" class="form-control" />
	</div>
	<div class="mb-3">
		<label asp-for="Password"></label>
		<input asp-for="Password" autocomplete="off" class="form-control" />
	</div>
	@if(allowPersistent)
	{
		<div class="mb-3">
			<div class="form-check">
				<input asp-for="Persistent" class="form-check-input" />
				<label asp-for="Persistent" class="form-check-label"></label>
			</div>
		</div>
	}
	<div class="text-end">
		<button class="btn btn-primary" type="submit">
			@Localizer.GetString("Submit")
		</button>
		<button class="btn btn-secondary" name="@nameof(Model.Cancel)" value="@true.ToString()">
			@Localizer.GetString("Cancel")
		</button>
	</div>
	@if(!hint.ResourceNotFound)
	{
		<small class="form-text text-muted">@hint</small>
	}
</form>